.affirm{
    width:100%;
    height:40px;
    background: #fff;
    position: fixed;
    bottom:0;
}
.affirm a{
    float: right;
    display: block;
    width:100px;
    height:40px;
    line-height: 40px;
    background: #DD2727;
    color: #fff;
    font-weight: 600;
    text-align: center;
}