.list_show{
    background: #EFEFF4;
    overflow: hidden;
    padding: 10px 0;
    overflow-y: scroll;
}
.list_product_box{
    float: left;
    width:49%;
    padding-left: 7px;
    margin-bottom: 6px;
}
.list_product{
    background: #fff;
    border:1px solid #DFDFDF;

}
.list_product img{
    display: block;
    width:90%;
    height:165px;
    margin:10px auto;
}
.list_product a{
    color: #333333;
}
.list_jieshao{
    padding: 0 5%;
    height:49px;
    overflow: hidden;
}
.list_jiage{
    margin:5px 0 10px;
    padding: 0 5%;
    color: #DD0707;
    position: relative;
}
.list_jiage span{
    color: #A9A9A9;
    font-size:12px;
    position: absolute;
    right:5%;
}
.list_none {
    display: none;
    background: #EFEFF4;
}
.list_none img{
    display: block;
    margin:30px auto 20px;
}
.list_none p{
    text-align: center;
}
.list_none p:last-child{
    color: #969696;
    margin-top: 5px;
}